.securitySettings_title {
  border-bottom: 1px solid rgb(202, 202, 202);
  display: flex;
  width: fit-content;
}
.securitySettings_title span {
  font-size: 20px;
  margin-bottom: 5px;
}
.securitySettings_input_box {
  margin: 10px 10px 10px 0;
}
.securitySettings_label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}
.securitySettings_input {
  width: 300px;
  height: 20px;
}
.securitySettings_input:-webkit-autofill,
.securitySettings_input:-webkit-autofill:hover,
.securitySettings_input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}
.securitySettings_from_box {
  margin-bottom: 5px;
}
.securitySettings_from_box p {
  margin: 0 !important;
}
.securitySettings_area {
  display: flex;
}
@media only screen and (max-width: 850px) {
  .securitySettings_input {
    width: 200px;
    height: 15px;
  }
  .securitySettings_area {
    flex-wrap: wrap;
  }
  .securitySettings_area p {
    margin: 0;
  }
  .securitySettings_input_box p {
    margin: 0 !important;
  }
  .securitySettings_label {
    margin-bottom: 1px;
    font-size: 10px;
  }
}
