.navbar_body {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-family: sans-serif;
}
nav {
  background-color: rgba(0, 0, 0, 0);
  height: 70px;
}
.logo {
  color: white;
  font-size: 20px;
  line-height: 70px;
  padding: 15px;
  margin-left: 50px;
  font-weight: bold;
  transition: 1s;
  position: relative;
  overflow: hidden;
}
.logo:hover {
  background: red;
  color: #111;
  box-shadow: 0 0 50px red;
  transition-delay: 0.5s;
}
.logo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid red;
  border-left: 2px solid red;
  transition: 0.5s;
}
.logo:hover:before {
  width: 98%;
  height: 97%;
  transition-delay: 0.5s;
}
.logo:hover:after {
  width: 98%;
  height: 97%;
  transition-delay: 0.5s;
}
.logo:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  transition: 0.5s;
}
.logo_a {
  text-decoration: none;
  color: white !important;
}

nav .menu {
  margin-top: 0;
  float: right;
  margin-right: 20px;
  list-style: none;
}

nav .menu .item {
  display: inline-block;
  line-height: 70px;
  margin: 0 30px;
}

nav .menu .item a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

nav .menu .item a i {
  margin: 0 5px;
  color: green;
}

nav .menu .item a:hover {
  color: darkslategray;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  line-height: 70px;
  float: right;
  cursor: pointer;
  display: none;
  margin-right: 40px;
}
.checkbtn:hover {
  color: red;
}
#check {
  display: none;
}
@media (max-width: 500px) {
  .logo_a {
    display: none;
  }
}
@media (max-width: 850px) {
  nav .menu .item {
    margin: 0 10px !important;
  }
}
@media (max-width: 750px) {
  .checkbtn {
    display: block;
  }
  .menu {
    position: fixed;
    background: black;
    width: 50%;
    height: 100vh;
    top: 70px;
    left: -110%;
    text-align: center;
    transition: 0.5s;
  }
  nav .menu .item {
    display: block;
  }
  #check:checked ~ .menu {
    left: 0;
  }
  .me:hover .me_box {
    display: block !important;
  }
  .me_box {
    display: none !important;
    position: relative !important;
    z-index: 1;
    align-items: center !important;
  }
}

.active {
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
.me_box {
  display: none !important;
  right: 0;
  position: absolute;
  z-index: 1;
}
.me_box_item {
  display: block;
  line-height: 40px !important;
}
.me_area:hover .me_box {
  display: block !important;
}
.me {
  background: green;
  border-radius: 10px;
  padding: 5px 10px;
}
.me_area:hover .me {
  background: red;
  transition: 0.5s;
}
